<div class="div_buscar" *ngIf="mapa1">
    <table style="width: 100%;">
        <tr><td><p>Buscar vacuna</p></td><td style="text-align: right; width:auto"><img style="padding: .5rem;" src="assets/images/lupa2.svg" /></td></tr>
    </table>
    
</div>
<br>
<div class=" highlight-line container" *ngIf="mapa1">
 <div class="child-div"><p class="texto1">Cartilla de vacunación</p></div>
 <div class="child-div"><p class="texto2">Lleva tu cartilla de vacunación contigo actualizada y en todo momento</p></div>
 <div style="width:60%">
    
    <!--   <button mat-button class="gold-button">
        <span class="textobotton1">Descarga tu cartilla</span>
        <mat-icon class="icon-right" >arrow-rigth</mat-icon>
      </button> -->

      <button mat-fab extended class="gold-button">
        <table>
            <tr><td><span class="textobotton1">Descarga tu cartilla</span></td><td><img style="padding: .5rem;" src="assets/images/Arrow_up.svg" /></td></tr>
        </table>
        
      
      </button>
 </div>
 
    
  
</div>
<div class="div_datos" *ngIf="mapa1">
    <table>
        <tr><td style="width: 50%;">
            <table>
                <tr>
                    <td><p class="nombre">Juan Carlos Martínez Rodríguez</p></td>
                </tr>
                <tr>

                    <td>
                        <table>
                            <tr>
                                <td>
                                    <p class="curp">curp <br> MARJ970603HQRRDN07</p>
                                </td>
                                <td>
                                    <img style="padding: .5rem;" src="assets/images/descarga.svg" />
                                </td>
                            </tr>
                        </table>
                        <br>
                        
                    </td>
                </tr>
               
            </table>
        </td><td><img style="padding: .5rem;" src="assets/images/codigoqr.svg" /></td></tr>
    </table>
 </div>
 <div class="div_centros" *ngIf="mapa1">
    <label class="texto3">Centros de Vacunación</label><br>
    <p class="texto4">Da clic sobre el icono de geolocalzación y encuentra tus centros mas cercanos.</p>
 </div>
 <div (click)="agrandar()" class="div_mapa" *ngIf="mapa1">
   
 </div>
 <div (click)="cerrar()"class="div_mapa2" *ngIf="mapa2">

 </div>

