<div class="vaccination-list">
  <div class="vaccination-section">
    <div class="vaccination-section-icon">
      <img class="dot" src="assets/icons/adultos_riesgo.svg" />
    </div>
    <div class="vaccination-section-title">
      <span>Adultos y grupos de riesgo</span>
    </div>
  </div>
  <div *ngFor="let vaccine of vaccines">
    <div class="contain-{{ vaccine.color }}">
      <div class="icon">
        <img class="dot" src="assets/icons/dot_{{ vaccine.color }}.svg" />
      </div>

      <div class="details">
        <div class="header-vacuna">
          <div class="header-vacuna-izquierdo">
            <span class="valor1">{{ vaccine.name }}</span>
            <span class="valor2">{{ vaccine.description }}</span>
          </div>
          <div class="header-vacuna-derecho">
            <span class="aplicacion {{ vaccine.color }}">{{
              vaccine.nextDate
            }}</span>
            <span class="valor-aplicacion">{{ vaccine.nextDate2 }}</span>
          </div>
        </div>
        <div class="contenido-vacunas" *ngFor="let dosis of vaccine.vacunas">
          <div class="datos-vacunas" (click)="mostrarVacuna(dosis)">
            <div class="dato-vacuna">
              <div class="izquierdo">
                <img src="assets/icons/jeringa.svg" />
                <span>Datos de la vacuna</span>
              </div>
              <div class="derecho">
                <span>{{dosis.dosis}}</span>
                <img
                  class="icono_boton"
                  src="assets/icons/chevron-up-circle.svg"
                />
              </div>
            </div>
          </div>
          <div *ngIf="dosis.mostrar">
            <div class="datos-clinica">
              <img class="datos-clinica-icon" src="assets/icons/clinica.svg" />
              <div class="datos-clinica-lugar">
                <h4 class="clinica">Clinica Ignacio Chávez ISSSTE</h4>
                <p class="lugar">Lugar de la aplicación</p>
              </div>
              <div class="datos-clinica-fecha">
                <h4 class="lugar-titulo">12/nov/2024</h4>
                <p class="lugar">Fecha y hora</p>
              </div>
              <div>
                <p class="datos-clinica-hora">10:20 am</p>
              </div>
            </div>
            <div class="info-vacuna">
              <div class="row">
                <div class="col-xs-3">
                  <p class="titulo-valor">Vía de administración</p>
                  <h4 class="valor">Intramuscular</h4>
                </div>
                <div class="col-xs-3">
                  <p class="titulo-valor">Fecha de caducidad</p>
                  <h4 class="valor">12/08/2026</h4>
                </div>
                <div class="col-xs-3">
                  <p class="titulo-valor">Dosis administrada</p>
                  <h4 class="valor">1.5 mg</h4>
                </div>
                <div class="col-xs-3">
                  <p class="titulo-valor">Fabricante</p>
                  <h4 class="valor">Biofarma</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-3">
                  <p class="titulo-valor">Lote</p>
                  <h4 class="valor">ABC-000000001</h4>
                </div>
                <div class="col-xs-3">
                  <p class="titulo-valor">Siguiente aplicación</p>
                  <h4 class="valor">2 semanas</h4>
                </div>
                <div class="col-xs-3">
                  <p class="titulo-valor">Efectos secundarios</p>
                  <h4 class="valor">
                    <a (click)="openModal()" style="font-weight: 400"
                      >Consultar</a
                    >
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br /><br />
  <!--  -->
  <div class="vaccination-section">
    <div class="vaccination-section-icon">
      <img class="dot" src="assets/icons/adultos_riesgo.svg" />
    </div>
    <div class="vaccination-section-title">
      <span>Adolescentes - 11 años</span>
    </div>
  </div>

  <div *ngFor="let vaccine of vaccines2">
    <div class="contain-{{ vaccine.color }}">
      <div class="icon">
        <img class="dot" src="assets/icons/dot_{{ vaccine.color }}.svg" />
      </div>

      <div class="details">
        <div class="header-vacuna">
          <div class="header-vacuna-izquierdo">
            <span class="valor1">{{ vaccine.name }}</span>
            <span class="valor2">{{ vaccine.description }}</span>
          </div>
          <div class="header-vacuna-derecho">
            <span class="aplicacion {{ vaccine.color }}">{{
              vaccine.nextDate
            }}</span>
            <span class="valor-aplicacion">{{ vaccine.nextDate2 }}</span>
          </div>
        </div>
        <div class="contenido-vacunas" *ngFor="let dosis of vaccine.vacunas">
          <div class="datos-vacunas" (click)="mostrarVacuna(dosis)">
            <div class="dato-vacuna">
              <div class="izquierdo">
                <img src="assets/icons/jeringa.svg" />
                <span>Datos de la vacuna</span>
              </div>
              <div class="derecho">
                <span>{{dosis.dosis}}</span>
                <img
                  class="icono_boton"
                  src="assets/icons/chevron-up-circle.svg"
                />
              </div>
            </div>
          </div>
          <div *ngIf="dosis.mostrar">
            <div class="datos-clinica">
              <img class="datos-clinica-icon" src="assets/icons/clinica.svg" />
              <div class="datos-clinica-lugar">
                <h4 class="clinica">Clinica Ignacio Chávez ISSSTE</h4>
                <p class="lugar">Lugar de la aplicación</p>
              </div>
              <div class="datos-clinica-fecha">
                <h4 class="lugar-titulo">12/nov/2024</h4>
                <p class="lugar">Fecha y hora</p>
              </div>
              <div>
                <p class="datos-clinica-hora">10:20 am</p>
              </div>
            </div>
            <div class="info-vacuna">
              <div class="row">
                <div class="col-xs-3">
                  <p class="titulo-valor">Vía de administración</p>
                  <h4 class="valor">Intramuscular</h4>
                </div>
                <div class="col-xs-3">
                  <p class="titulo-valor">Fecha de caducidad</p>
                  <h4 class="valor">12/08/2026</h4>
                </div>
                <div class="col-xs-3">
                  <p class="titulo-valor">Dosis administrada</p>
                  <h4 class="valor">1.5 mg</h4>
                </div>
                <div class="col-xs-3">
                  <p class="titulo-valor">Fabricante</p>
                  <h4 class="valor">Biofarma</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-3">
                  <p class="titulo-valor">Lote</p>
                  <h4 class="valor">ABC-000000001</h4>
                </div>
                <div class="col-xs-3">
                  <p class="titulo-valor">Siguiente aplicación</p>
                  <h4 class="valor">2 semanas</h4>
                </div>
                <div class="col-xs-3">
                  <p class="titulo-valor">Efectos secundarios</p>
                  <h4 class="valor">
                    <a (click)="openModal()" style="font-weight: 400"
                      >Consultar</a
                    >
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
