<div class="main-container">
  <!-- Columna Izquierda -->
  <div class="left-column scrollable-container">
    <div class="titulo">
      <h4 class="titulo">{{ "home.scheme" | translate }}</h4>
    </div>
    <mat-tab-group
      class="custom-tab-group"
      (selectedIndexChange)="changeIndex($event)"
    >
      <mat-tab
        class="scrollable-container"
        *ngIf="vwEsquemaBasicoPaciente != null"
      >
        <ng-template mat-tab-label>
          <div
            [ngClass]="indexSeleccionado == 0 ? 'tab-icon-selected' : ''"
            style="margin: 5px"
          >
            <img
              [src]="
                indexSeleccionado == 0
                  ? 'assets/icons/jeringa_blanca.svg'
                  : 'assets/icons/jeringa_vino.svg'
              "
              width="18px"
              height="25px"
              style="margin: 2px"
              alt="Home Icon"
            />
          </div>
          {{ "home.basic" | translate }}
        </ng-template>
        <diV>
          <app-esquema-vacunacion
            [vwEsquemaBasicoPaciente]="vwEsquemaBasicoPaciente"
          ></app-esquema-vacunacion>
        </diV>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <div
            [ngClass]="indexSeleccionado == 1 ? 'tab-icon-selected' : ''"
            style="margin: 5px"
          >
            <img
              [src]="
                indexSeleccionado == 1
                  ? 'assets/icons/escudo_blanco.svg'
                  : 'assets/icons/escudo_vino.svg'
              "
              width="25px"
              height="25px"
              style="margin: 2px"
              alt="Help Icon"
            />
          </div>
          {{ "home.next" | translate }}
        </ng-template>

        <div>
          <app-siguientes
            [vwSiguientesVacPaciente]="vwSiguientesVacPaciente"
          ></app-siguientes>
        </div>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <div
            [ngClass]="indexSeleccionado == 2 ? 'tab-icon-selected' : ''"
            style="margin: 5px"
          >
            <img
              [src]="
                indexSeleccionado == 2
                  ? 'assets/icons/virus_blanco.svg'
                  : 'assets/icons/virus.svg'
              "
              width="25px"
              height="25px"
              style="margin: 2px"
              alt="Settings Icon"
            />
          </div>
          {{ "home.other" | translate }}
        </ng-template>
        <app-otras [vwOtrasVacPaciente]="vwOtrasVacPaciente"></app-otras>
      </mat-tab>
    </mat-tab-group>

    <!-- <mat-tab-group (selectedIndexChange)="changeIndex($event)" >

    </mat-tab-group> -->
  </div>

  <!-- Columna Derecha -->
  <div class="right-column scrollable-container">
    <app-vacuna></app-vacuna>
  </div>
</div>

<div class="modal fade" id="foo">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Ejemplo de ventana modal</h4>
      </div>
      <div class="modal-body">
        <p>Ejemplo de texto interno.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Cerrar
        </button>
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>
