<div class="vaccination-list">
  <div class="vaccination-section">
    <div class="vaccination-section-icon">
      <img class="dot" src="assets/icons/siguientes.svg" />
    </div>
    <div class="vaccination-section-title">
      <span>{{ 'next.title' | translate }}</span>
    </div>
  </div>
  <div *ngFor="let vaccine of vwSiguientesVacPaciente">
    <div class="contain-{{vaccine.color}}">
      <div class="icon">
        <img class="dot" src="assets/icons/dot_{{ vaccine.color }}.svg" />
      </div>

      <div class="details">
        <div class="header-vacuna">
          <div class="header-vacuna-izquierdo">
            <span class="valor1">{{ vaccine.vacunanombre }}</span>
            <span class="valor2">{{ vaccine.dosistipo }}</span>
          </div>
          <div class="header-vacuna-derecho">
            <!-- <span class="aplicacion {{ vaccine.color }}">{{

            }}</span> -->
            <span class="valor-aplicacion">{{ vaccine.fechaproximaaplicacion | date:"dd/MMM/yyyy" }}</span>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
