<div class="modal-content">
  <div class="modal-header">
    <h2>Efectos secundarios</h2>
    <button class="close-btn" (click)="close()">&#x2715;</button>
  </div>
  <div class="modal-body">
    <p>
      En general es una vacuna segura, los eventos que con frecuencia puedes
      presentar posterior a su aplicación son:
    </p>
    <div class="effects-icons">
      <div class="effect">
        <div class="icono">
          <img src="assets/icons/dolor_cabeza.svg" alt="Dolor de cabeza" />
        </div>
        <p>Dolor de cabeza</p>
      </div>
      <div class="effect">
        <div class="icono">
          <img src="assets/icons/fatiga.svg" alt="Fatiga" />
        </div>
        <p>Fatiga</p>
      </div>
      <div class="effect">
        <div class="icono">
          <img src="assets/icons/fiebre.svg" alt="Fiebre" />
        </div>
        <p>Fiebre</p>
      </div>
      <div class="effect">
        <div class="icono">
          <img src="assets/icons/vomito.svg" alt="Vómito" />
        </div>
        <p>Vómito</p>
      </div>
      <div class="effect">
        <div class="icono">
          <img src="assets/icons/escalofrios.svg" alt="Escalofríos" />
        </div>
        <p>Escalofríos</p>
      </div>
    </div>
    <div class="warning">
      <!-- <div class="titulo-molestias"> -->
      <p class="titulo-molestias">Si persisten las molestias</p>
      <!-- </div> -->
      <div class="recomendacion">
        <img
          class="recomendacion-icon"
          src="assets/icons/molestias.svg"
          alt="Molestias"
        />
        <p class="recomendacion-texto">
          Si persisten las molestias contacte a su médico o acuda a la unidad de
          salud más cercana.
        </p>
      </div>

      <p class="consulta">
        Consulta la información completa de esta vacuna en:
      </p>
      <a
        href="https://www.gob.mx/salud/articulos/esquema-de-vacunacion"
        target="_blank"
      >
        https://www.gob.mx/salud/articulos/esquema-de-vacunacion
      </a>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="close()">
      Aceptar
    </button>
  </div>
</div>

<!--  <div class="modal" id="foo" >
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Ejemplo de ventana modal</h4>
      </div>
      <div class="modal-body">
        <p>Ejemplo de texto interno.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div> -->
