@import '../../../../styles.scss';

/* MODAL */

.modal-content {
  font-family: 'Arial', sans-serif;
  background-color: #fff;
  border-radius: 8px;
  //padding: 20px;
  display: flex;
  flex-direction: column;
  max-height: 90vh; /* Limitar la altura al 90% de la ventana */
  overflow: hidden;
  overflow-y: auto; /* Habilitar scroll vertical */
  flex: 1; /* Asegurar que tome el espacio restante */
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: white;
  color: $vino;
}

.modal-header h2 {
  font-size: 20px;
  margin: 0;
}

.close-btn {
  background: #f5f3f3;

  border: none;
  font-size: 15px;
  color: rgb(202, 200, 200);
  cursor: pointer;
  border-radius: 20px;
  width: 30px;
  height: 30px;
}

.modal-body{

}

.modal-body p {
  font-size: 16px;
  margin-bottom: 15px;
}

.effects-icons {
  display: flex;
  /* justify-content: space-around; */
  justify-content: flex-start; /* Opcional: Alinación horizontal */
  margin-bottom: 20px;
  flex-wrap: wrap;
  gap: 10px;
}

.effect {
  flex: 1 1 150px; /* Ancho mínimo de 150px, y el resto del espacio es flexible */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.effect img {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
}

.warning {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  font-size: 14px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}


/* .titulo-molestias{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
} */

.titulo-molestias{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 20px !important;
  font-weight: 600 !important;
}

.consulta{
  font-size: 16px !important;
  font-weight: 600 !important;
}

.recomendacion{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.recomendacion-icon{
  width: 40px;
  height: 40px;
}

.recomendacion-texto{
  font-size: 16px;
  font-weight: 500;
}


.warning a {
  color: #007bff;
  //text-decoration: none;
}

.modal-footer {
  text-align: right;
  background-color: #f5f3f3;
}

.icono{
  width: 45px;
  height: 45px;
  background-color: #f5f3f3;
  border-radius: 30px;
  text-align: center;
}


.container-efectos {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos salten a la siguiente fila */
  gap: 10px;       /* Espacio entre elementos (opcional) */
  justify-content: flex-start; /* Opcional: Alinación horizontal */
  align-items: flex-start;     /* Opcional: Alineación vertical */
  width: 100%; /* O el ancho que necesites */
  border: 1px solid #ccc; /* Solo para visualizar el contenedor */
}
